<style>th {
width=16.66%;
height:30;
text-align:center;
}
td {
text-align:center;
font-size:65%;
padding:0;
margin:0;
}
table {
table-layout:fixed;
margin:0;
padding:0;
}
</style>
<div class="table-responsive">
<h3 style="text-align: center;">January</h3>
<div class="heading-underline"></div>
<table class="table table-bordered">
<tr>
  <th>Week</th>
  <th>Mon</th>
  <th>Tues</th>
  <th>Wed</th>
  <th>Thurs</th>
  <th>Fri</th>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">20</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">21</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">22</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">23</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">24</p></td>
</tr>
<tr>
  <td><b>Week 1: Chapter 1</b><br>(Controlled Experiments)</td>
  <td><p>Martin Luther King Jr. Day</p></td>
  <td><p>First Day of Classes!</p></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">27</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">28</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">29</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">30</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">31</p></td>
</tr>
<tr>
  <td><b>Week 2: Chapters 2-3</b><br>(Observational Studies)</td>
  <td></td>
  <td></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 1 Due</p><br><p style="color:blue;font-size:100%;">Chapter 2 Part 1 Prelecture Due</p></td>
  <td></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 2 Due</p><br><p style="color:blue;font-size:100%;">Chapter 2 Part 2 Prelecture Due</p></td>
</tr>
</table>

<h3 style="text-align: center;">February</h3>
<div class="heading-underline"></div>
<table class="table table-bordered">
<tr>
  <th>Week</th>
  <th>Mon</th>
  <th>Tues</th>
  <th>Wed</th>
  <th>Thurs</th>
  <th>Fri</th>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">03</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">04</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">05</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">06</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">07</p></td>
</tr>
<tr>
  <td><b>Week 3: Chapters 3-5</b><br>(Histograms, Avg, Median, SD, & Normal Curve)</td>
  <td><p style="color:blue;font-size:100%;">Chapter 3 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 3 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 4 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 4 Due</p></td>
  <td><b><p style="font-size:120%;">Exam 1 Conflict Sign-Up Due</p></b><br><p style="color:blue;font-size:100%;">Chapter 5 Prelecture Due</p><br><p style="color:blue;font-size:100%;">Bonus Survey 2 Due</p></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">10</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">11</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">12</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">13</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">14</p></td>
</tr>
<tr>
  <td><b>Week 4: Exam Week</b></td>
  <td></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 5 Due</p></td>
  <td><b><p style="color:red;font-size:120%;">Exam 1 at 7pm</p></b></td>
  <td><p>No Class :)</p></td>
  <td><p>Valentine's Day</p></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">17</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">18</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">19</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">20</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">21</p></td>
</tr>
<tr>
  <td><b>Week 5: Chapters 6-7</b><br>(Boxplots & Correlation)</td>
  <td><p>President's Day</p></td>
  <td></td>
  <td><p style="color:blue;font-size:100%;">Chapter 7 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 6 Due</p></td>
  <td></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">24</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">25</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">26</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">27</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">28</p></td>
</tr>
<tr>
  <td><b>Week 6: Chapters 8-10</b><br>(Regression & RMSE)</td>
  <td></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 7 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 8 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 8 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 9 Prelecture Due</p><br><p style="color:blue;font-size:100%;">Bonus Survey 3 Due</p></td>
</tr>
</table>

<h3 style="text-align: center;">March</h3>
<div class="heading-underline"></div>
<table class="table table-bordered">
<tr>
  <th>Week</th>
  <th>Mon</th>
  <th>Tues</th>
  <th>Wed</th>
  <th>Thurs</th>
  <th>Fri</th>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">02</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">03</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">04</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">05</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">06</p></td>
</tr>
<tr>
  <td><b>Week 7: Chapters 11-12</b><br>(Probability)</td>
  <td><p style="color:blue;font-size:100%;">Chapter 10 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 9 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 11 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 10 Due</p></td>
  <td><b><p style="font-size:120%;">Exam 2 Conflict Sign-Up Due</p></b></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">09</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">10</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">11</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">12</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">13</p></td>
</tr>
<tr>
  <td><b>Week 8: Exam Week</b></td>
  <td><p style="color:blue;font-size:100%;">Chapter 12 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 11 Due</p></td>
  <td><b><p style="color:red;font-size:120%;">Exam 2 at 7pm</p></b></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">16</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">17</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">18</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">19</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">20</p></td>
</tr>
<tr>
  <td><b>Week 9: Spring Break</b></td>
  <td><p>---</p></td>
  <td><p>---</p></td>
  <td><p>SPRING BREAK</p></td>
  <td><p>---</p></td>
  <td><p>---</p></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">23</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">24</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">25</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">26</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">27</p></td>
</tr>
<tr>
  <td><b>Week 10: Chapters 13-15</b><br>(EV, SE, & Random Variables)</td>
  <td></td>
  <td></td>
  <td><p style="color:blue;font-size:100%;">Chapter 13 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 12 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 14 Prelecture Due</p></td>
</tr>
</table>

<h3 style="text-align: center;">April</h3>
<div class="heading-underline"></div>
<table class="table table-bordered">
<tr>
  <th>Week</th>
  <th>Mon</th>
  <th>Tues</th>
  <th>Wed</th>
  <th>Thurs</th>
  <th>Fri</th>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">30</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">31</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">01</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">02</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">03</p></td>
</tr>
<tr>
  <td><b>Week 11: Chapters 15-16</b><br>(Box Models & Probability Histograms)</td>
  <td></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 13 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 15 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 14 Due</p></td>
  <td><b><p style="font-size:120%;">Exam 3 Conflict Sign-Up Due</p></b><br><p style="color:blue;font-size:100%;">Chapter 16 Prelecture Due</p><br><p style="color:blue;font-size:100%;">Bonus Survey 4 Due</p></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">06</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">07</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">08</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">09</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">10</p></td>
</tr>
<tr>
  <td><b>Week 12: Exam Week</b></td>
  <td></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 15 Due</p></td>
  <td><b><p style="color:red;font-size:120%;">Exam 3 at 7pm</p></b><br><p style="color:blue;font-size:100%;">Chapter 17 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 16 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 18 Prelecture Due</p></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">13</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">14</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">15</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">16</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">17</p></td>
</tr>
<tr>
  <td><b>Week 13: Chapters 17-19</b><br>(Sampling & Inference)</td>
  <td></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 17 Due</p></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">20</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">21</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">22</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">23</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">24</p></td>
</tr>
<tr>
  <td><b>Week 14: Chapters 20-22</b><br>(Hypothesis Testing: Z & t Tests)</td>
  <td></td>
  <td></td>
  <td><p style="color:blue;font-size:100%;">Chapter 20 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 18 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 21 Prelecture Due</p></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">27</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">28</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">29</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">30</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">01</p></td>
</tr>
<tr>
  <td><b>Week 15: Chapters 22-24</b><br>(Hypothesis Testing: Chi Square Tests)</td>
  <td></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 19 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 22 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 20 Due</p></td>
  <td><p style="color:blue;font-size:100%;">Chapter 23 Part 1 Prelecture Due</p></td>
</tr>
</table>

<h3 style="text-align: center;">May</h3>
<div class="heading-underline"></div>
<table class="table table-bordered">
<tr>
  <th>Week</th>
  <th>Mon</th>
  <th>Tues</th>
  <th>Wed</th>
  <th>Thurs</th>
  <th>Fri</th>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">04</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">05</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">06</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">07</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">08</p></td>
</tr>
<tr>
  <td><b>Week 16: Last Week of Class</b><br>(Final Exam Review)</td>
  <td></td>
  <td><p style="color:blue;font-size:100%;">Chapter 23 Part 2 Prelecture Due</p></td>
  <td><p style="color:red;font-size:100%;">HW Assignment 21 Due</p><br><p style="color:blue;font-size:100%;">Bonus Survey 5 Due</p></td>
  <td><p><b>Reading Day</b><br>No Class :)</p></td>
  <td><p>No Class :)</p></td>
</tr>
<tr>
  <td style="line-height:1px;margin:0;"></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">11</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">12</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">13</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">14</p></td>
  <td><p style="font-size:95%;line-height:1px;margin:0;text-align:center;">15</p></td>
</tr>
<tr>
  <td><b>Week 17: Finals Week</b></td>
  <td><b><p style="color:red;font-size:120%;">L1 (In Person Class) Final from 1:30pm-4:30pm</p></b></td>
  <td><b><p style="color:red;font-size:120%;">KF: (Karle's Online Class) Final from: 8am-11am</p></b></td>
  <td></td>
  <td><b><p style="color:red;font-size:120%;">ONL (Albert's Online Class) Final from: 7pm-10pm</p></b></td>
  <td><p><b>SUMMER BREAK!!!</b><br><br>Have a wonderful break!</p></td>
</tr>
</table>

</div>
