<div class="table-responsive"> 
  <table class="table table-bordered">
    <tr>
      <th>Section</th>
      <th>Location</th>
    </tr>
    <tr>
      <td>Karle's Online Section (KF)<br>Last Names: A-P</td>
      <td>Foellinger Floor</td>
    </tr>
    <tr>
      <td>Karle's Online Section (KF)<br>Last Names: Q-Z<br><br>Karle's In Person Section (L1)<br>Last Names: A-B</td>
      <td>Foellinger Balcony</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L1)<br>Last Names: C-G</td>
      <td>100 MSEB</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L1)<br>Last Names: H-Mc</td>
      <td>314 Altgeld</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L1)<br>Last Names: Me-R</td>
      <td>114 David Kinley Hall</td>
    </tr>
    <tr>
      <td>Karle's In Person Section (L1)<br>Last Names: S-Z</td>
      <td>141 Wohler's</td>
    </tr>
    <tr>
      <td>Albert's Online Section (ONL)<br>Last Names: A-G</td>
      <td>180 Bevier Hall</td>
    </tr>
    <tr>
      <td>Albert's Online Section (ONL)<br>Last Names: H-Z</td>
      <td>2079 Natural History Building</td>
    </tr>
  </table>
</div>
