<div class="table-responsive"> 
  <table class="table table-bordered">
  <tr>
    <th>Section</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>L1 (In Person class)</td>
    <td>Monday, Dec 16th</td>
    <td>1:30pm-4:30pm</td>
    <td>Location: TBA</td>
  </tr>
  <tr>
    <td>KF (Online class)</td>
    <td>Date: TBA</td>
    <td>Time: TBA</td>
    <td>Location: TBA</td>
  </tr>
  <tr>
    <td>ONL (Online class)</td>
    <td>Date: TBA</td>
    <td>Time: TBA</td>
    <td>Location: TBA</td>
  </tr>
  </table>
</div>
