<style>
th, td {font-size:85%;width=16.66%;}

@media (max-width: 767px) {
  th, td {font-size:60%;}
}
</style>

<div class="table-responsive">
  <table class="table">
  <tr>
    <th>Grade</th>
    <th>Percentage</th>
    <th>Grade</th>
    <th>Percentage</th>
    <th>Grade</th>
    <th>Percentage</th>
  </tr>
  <tr>
    <td>A+</td>
    <td>97-100</td>
    <td>A</td>
    <td>93-96.99</td>
    <td>A-</td>
    <td>90-92.99</td>
  </tr>
  <tr>
    <td>B+</td>
    <td>87-89.99</td>
    <td>B</td>
    <td>83-86.99</td>
    <td>B-</td>
    <td>80-82.99</td>
  </tr>
  <tr>
    <td>C+</td>
    <td>77-79.99</td>
    <td>C</td>
    <td>73-76.99</td>
    <td>C-</td>
    <td>70-72.99</td>
  </tr>
  <tr>
    <td>D+</td>
    <td>67-69.99</td>
    <td>D</td>
    <td>63-66.99</td>
    <td>D-</td>
    <td>60-62.99</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>F</td>
    <td>&lt; 60</td>
  </tr>
</table>
</div>
