<!-- Start of Landing Page -->
<div class="landing">
  <div class="home-wrap">
    <div class="home-inner" style="background-image: url('{{ site.baseurl }}/assets/img/stat100desk.jpg');">
      <div class="layer">
      </div>
    </div>
  </div>
</div>
<div class="caption text-center">
  <h1>{{ site.title }}</h1>
  <div class="landing-heading-underline"></div>
  <h3>{{ site.semester }}</h3>
  <a class="btn btn-outline-light btn-lg" href="#sections">Get Started</a>
  <div class="announcements narrow">
    <div class="card bg-white rounded shadow-sm py-3">
      {{ site.data.info.announcements }}
    </div>
  </div>
</div>
<!-- End of Landing Page -->
