<div class="fixed-background" style="margin-top:-5px; height:275px;">
  <div class="row dark text-center" style="height:275px;">
    <div class="col-12 text-center">
      <h3 class="heading">{{ include.title | replace: "-", " " }}</h3>
      <div class="heading-underline"></div>
    </div>
  </div>
  <div class="fixed-wrap" style="height:275px;">
    <div class="fixed" style="background-image: url('{{ site.baseurl }}/assets/img/stat100desk.jpg');">
      <div class="layer">
      </div>
    </div>
  </div>
</div>
