<div class="table-responsive">
  <table class="table table-bordered">
    <tr>
      <th>Blank Exams</th>
      <th>Answer Keys</th>
    </tr>
    <tr>
      <td>
        {% if site.data.info.show-finals != "FF" %}
        <a href="{{ site.baseurl }}/assets/docs/exams/Final/StudyGuide.pdf" target="\_blank">Study Guide for the Final</a>
        {% else %}
        <span style="color: #a9a9a9;">Study Guide for the Final</span>
        {% endif %}
      </td>
      <td>
        {% if site.data.info.show-finals != "FF" %}
        <a href="{{ site.baseurl }}/assets/docs/exams/Final/StudyGuideKey_explanations_edit.pdf" target="\_blank">Key to the Study Guide for the Final</a>
        {% else %}
        <span style="color: #a9a9a9;">Key to the Study Guide for the Final</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if site.data.info.show-finals == "T" %}
        <a href="{{ site.baseurl }}/assets/docs/exams/Final/Final{{ site.data.info.final-years.second }}.pdf" target="\_blank">Practice Final {{ site.data.info.final-years.second }}</a>
        {% else %}
        <span style="color: #a9a9a9;">Practice Final {{ site.data.info.final-years.second }}</span>
        {% endif %}
      </td>
      <td>
        {% if site.data.info.show-finals == "T" %}
        <a href="{{ site.baseurl }}/assets/docs/exams/Final/FinalKey{{ site.data.info.final-years.second }}.pdf" target="\_blank">Practice Final Key {{ site.data.info.final-years.second }}</a>
        {% else %}
        <span style="color: #a9a9a9;">Practice Final Key {{ site.data.info.final-years.second }}</span>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        {% if site.data.info.show-finals == "T" %}
        <a href="{{ site.baseurl }}/assets/docs/exams/Final/Final{{ site.data.info.final-years.first }}.pdf" target="\_blank">Practice Final {{ site.data.info.final-years.first }}</a>
        {% else %}
        <span style="color: #a9a9a9;">Practice Final {{ site.data.info.final-years.first }}</span>
        {% endif %}
      </td>
      <td>
        {% if site.data.info.show-finals == "T" %}
        <a href="{{ site.baseurl }}/assets/docs/exams/Final/FinalKey{{ site.data.info.final-years.first }}.pdf" target="\_blank">Practice Final Key {{ site.data.info.final-years.first }}</a>
        {% else %}
        <span style="color: #a9a9a9;">Practice Final Key {{ site.data.info.final-years.first }}</span>
        {% endif %}
      </td>
    </tr>
  </table>
</div>
